# Index Scoring
This notebook outlines how to create a heat map that represents a composite index score. 


# Methodology
Composite index scoring is typically used by understanding how a student is perfoming against their peers. [Example](https://medium.com/analytics-vidhya/the-factor-analysis-for-constructing-a-composite-index-2496686fc54c). GIS experts use this to have visuals by geography or trade area ranking and answer questions into things related to site selection, site planning, or targeting consumers.

# What is a Z-Score
Simply put, a z-score (also called a standard score or an index score) reveals how far above or below average this instance is compared to it's peers. But more technically it’s a measure of how many standard deviations below or above the mean a raw score is. More info [here](https://www.statisticshowto.com/probability-and-statistics/z-score/).

In [ ]:
import pandas as pd
!pip install geopandas
import geopandas as gpd

import numpy as np 
from sklearn import preprocessing

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 4.9 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 48.1 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 28.0 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
# # Pandas Read CSV
df = pd.read_csv("/content/node_composite_score3.csv", encoding_errors='ignore')


# # you could drop rows where our variables all = 0 it will create holes in our final gdf
df2 = df[['FIPS','Within_DTPlus_TTA','Income_Attainment', 'Edu_Attainment', 'Eth_Hispanic_CrYr','geometry']]

df3 = df[['FIPS','Income_Attainment', 'Edu_Attainment', 'Eth_Hispanic_CrYr']]


# round our values
df3.head(3)

           FIPS  Income_Attainment  Edu_Attainment  Eth_Hispanic_CrYr
0  480019501001                340             729                127
1  480019501002                312            1035                190
2  480019501003                355             733                106

### Standardizing Each Variable

This is important if you have to compare apples to oranges. Meaning, you might have a vairiable that's a percentage while another variable that's a raw count. 


### Why -3 to 3?
Defining the ranges in the minmax scaler from -3 to 3. 
I want to have enough variance and a typical 0-1 variance is a bit tight.
> In most large data sets, 99% of values have a Z-score between -3 and 3, meaning they lie within three standard deviations above or below the mean.
- [Investopia Team](https://www.investopedia.com/ask/answers/021115/what-difference-between-standard-deviation-and-z-score.asp)

In [ ]:
## define the scaler
## scaler is set to a range of -3 to 3 
scaler = preprocessing.MinMaxScaler(feature_range=(-3, 3), copy=True, clip=False)


## Testing with a seperate df to keep my sanity
df_scaled = df3.copy()

## Run the minmax scaler on our target variables
df_scaled[['Income_Attainment', 'Edu_Attainment','Eth_Hispanic_CrYr']] = scaler.fit_transform(df_scaled[['Eth_Hispanic_CrYr', 'Income_Attainment','Edu_Attainment']]).round(2)

## rename our columns to a human-friendly readable column
df_scaled.rename(columns = {'Income_Attainment':'Income_Attainment_score', 'Edu_Attainment':'Edu_Attainment_score', 'Eth_Hispanic_CrYr':'Eth Hispanic CrYr_score'}, inplace = True)

 
df_scaled = df_scaled[['FIPS', 'Income_Attainment_score','Edu_Attainment_score','Eth Hispanic CrYr_score' ]]
df_scaled

,FIPS,Income_Attainment_score,Edu_Attainment_score,Eth Hispanic CrYr_score
0,480019501001,-2.94,-2.64,-2.77
1,480019501002,-2.92,-2.67,-2.68
2,480019501003,-2.95,-2.63,-2.77
3,480019504011,-2.41,-2.96,-1.70
4,480019504021,-2.24,-2.98,-0.95
...,...,...,...,...
20815,484599501002,-2.98,-2.62,-2.77
20816,484599501003,-2.98,-2.71,-2.74
20817,484599501005,-2.92,-2.70,-2.79
20818,484599501006,-2.98,-2.68,-2.71
20819,484599501007,-2.97,-2.82,-2.85

### Weighting

Weighting would be applied here. It's as simple as multiplying each cap with the weight value.

example: if the weight is 1/2 important - we would multiple the variable by 0.5

### Composite Variable
Here's the magic number - it's really simple. Just add each column into one.

### Final Z Score
A Z-score is a numerical measurement that describes a value's relationship to the mean of a group of values. Z-score is measured in terms of standard deviations from the mean. If a Z-score is 100, it indicates that the data point's score is identical to the mean score

In [ ]:
## Create a composite score
df_scaled['Composite_Score'] = df_scaled[["Income_Attainment_score" , "Edu_Attainment_score",'Eth Hispanic CrYr_score']].sum(axis = 1)

df_scaled[['Composite_Score']] = preprocessing.scale(df_scaled[['Composite_Score']])


df_scaled

,FIPS,Income_Attainment_score,Edu_Attainment_score,Eth Hispanic CrYr_score,Composite_Score
0,480019501001,-2.94,-2.64,-2.77,-0.318869
1,480019501002,-2.92,-2.67,-2.68,-0.200558
2,480019501003,-2.95,-2.63,-2.77,-0.318869
3,480019504011,-2.41,-2.96,-1.70,1.574096
4,480019504021,-2.24,-2.98,-0.95,2.905086
...,...,...,...,...,...
20815,484599501002,-2.98,-2.62,-2.77,-0.348446
20816,484599501003,-2.98,-2.71,-2.74,-0.437179
20817,484599501005,-2.92,-2.70,-2.79,-0.407601
20818,484599501006,-2.98,-2.68,-2.71,-0.348446
20819,484599501007,-2.97,-2.82,-2.85,-0.747743

In [ ]:


df_scaled[['Composite_Score']] = scaler.fit_transform(df_scaled[['Composite_Score']]).round(2)

standscaler = preprocessing.StandardScaler()


## Define the max of the composite score
max = df_scaled['Composite_Score'].max()


## Calculate the index, results will yield a final score from 0 to 200 (100 = average)
df_scaled[['Index_Score']] = df_scaled[['Composite_Score']].apply(lambda x: (1 + (x/max))*100).round(1)
df_scaled[["Income_Attainment_score" , "Edu_Attainment_score",'Eth Hispanic CrYr_score']] = df_scaled[["Income_Attainment_score" , "Edu_Attainment_score",'Eth Hispanic CrYr_score']].apply(lambda x: (1 + (x/3))*100).round(1)

In [ ]:
## appending our score to our OG dataframe
finaldf = pd.merge(df2, df_scaled[["FIPS", "Income_Attainment_score","Edu_Attainment_score","Eth Hispanic CrYr_score","Composite_Score","Index_Score"]], on='FIPS', how='left')

## Rank field can be helpful if we were exploring geographies with less ambigous names (example top 25 CBSAs and exploring the results through table view)
finaldf['Rank'] = finaldf['Composite_Score'].rank(ascending = False)
finaldf = finaldf.sort_values(by = 'Rank').reset_index()


finaldf.head(25)

,index,FIPS,Within_DTPlus_TTA,Income_Attainment,Edu_Attainment,Eth_Hispanic_CrYr,geometry,Income_Attainment_score,Edu_Attainment_score,Eth Hispanic CrYr_score,Composite_Score,Index_Score,Rank
0,25807,481576729001,False,5745,19434,13465,"POLYGON ((-95.77548 29.70058, -95.77547 29.700...",196.0,200.0,200.0,3.00,200.0,1.0
1,27357,482015430031,False,2821,9361,13610,"POLYGON ((-95.72389 29.88066, -95.72388 29.880...",198.0,98.3,96.3,0.95,131.7,2.0
2,6334,481410103421,True,2116,5088,13742,"MULTIPOLYGON (((-106.25815 31.70097, -106.2566...",200.0,73.7,52.3,0.28,109.3,5.0
3,23046,482150242012,False,2327,6003,12567,"POLYGON ((-98.56824 26.29362, -98.56826 26.293...",183.0,81.0,61.7,0.28,109.3,5.0
4,20214,481410103421,False,2116,5088,13742,"POLYGON ((-106.28403 31.70147, -106.28413 31.7...",200.0,73.7,52.3,0.28,109.3,5.0
5,20215,481410103421,False,2116,5088,13742,"POLYGON ((-106.28403 31.70147, -106.28413 31.7...",200.0,73.7,52.3,0.28,109.3,5.0
6,6335,481410103421,True,2116,5088,13742,"MULTIPOLYGON (((-106.25815 31.70097, -106.2566...",200.0,73.7,52.3,0.28,109.3,5.0
7,25815,481576731011,False,1919,7831,11889,"POLYGON ((-95.85388 29.77770, -95.85457 29.777...",173.0,66.7,80.7,0.22,107.3,8.0
8,23759,480610125042,False,1847,4912,12563,"POLYGON ((-97.54416 25.94498, -97.54421 25.944...",183.0,64.3,50.7,0.00,100.0,9.0
9,27566,480396606021,False,1889,7698,7188,"POLYGON ((-95.44612 29.49964, -95.44615 29.499...",104.7,65.7,79.3,-0.49,83.7,10.0
10,6324,481410103411,True,1637,3973,10000,"MULTIPOLYGON (((-106.25195 31.77671, -106.2529...",145.7,57.0,41.0,-0.55,81.7,13.0
11,6323,481410103411,True,1637,3973,10000,"MULTIPOLYGON (((-106.25195 31.77671, -106.2529...",145.7,57.0,41.0,-0.55,81.7,13.0
12,27426,482015548011,False,2261,6975,6391,"POLYGON ((-95.62325 30.06684, -95.62318 30.066...",93.0,78.7,71.7,-0.55,81.7,13.0
13,20184,481410103411,False,1637,3973,10000,"MULTIPOLYGON (((-106.14787 31.72057, -106.1478...",145.7,57.0,41.0,-0.55,81.7,13.0
14,20185,481410103411,False,1637,3973,10000,"MULTIPOLYGON (((-106.14787 31.72057, -106.1478...",145.7,57.0,41.0,-0.55,81.7,13.0
15,22997,482150213023,False,1710,4266,9464,"POLYGON ((-98.21517 26.13322, -98.21499 26.133...",137.7,59.7,44.0,-0.57,81.0,16.0
16,21637,480291817281,False,1938,4995,7957,"MULTIPOLYGON (((-98.70490 29.49411, -98.70480 ...",115.7,67.3,51.3,-0.64,78.7,18.5
17,1625,480291817281,True,1938,4995,7957,"POLYGON ((-98.72797 29.50293, -98.72791 29.502...",115.7,67.3,51.3,-0.64,78.7,18.5
18,1626,480291817281,True,1938,4995,7957,"POLYGON ((-98.72797 29.50293, -98.72791 29.502...",115.7,67.3,51.3,-0.64,78.7,18.5
19,21638,480291817281,False,1938,4995,7957,"MULTIPOLYGON (((-98.70490 29.49411, -98.70480 ...",115.7,67.3,51.3,-0.64,78.7,18.5
20,29326,482917003005,False,2094,5855,6496,"POLYGON ((-95.10672 30.23218, -95.10677 30.231...",94.7,73.0,60.3,-0.70,76.7,21.0
21,11163,484530022072,True,1703,5352,7308,"MULTIPOLYGON (((-97.57961 30.23383, -97.57924 ...",106.3,59.3,55.0,-0.78,74.0,23.5
22,11162,484530022072,True,1703,5352,7308,"MULTIPOLYGON (((-97.57961 30.23383, -97.57924 ...",106.3,59.3,55.0,-0.78,74.0,23.5
23,18091,484530022072,False,1703,5352,7308,"POLYGON ((-97.65880 30.22677, -97.65868 30.226...",106.3,59.3,55.0,-0.78,74.0,23.5
24,18090,484530022072,False,1703,5352,7308,"POLYGON ((-97.65880 30.22677, -97.65868 30.226...",106.3,59.3,55.0,-0.78,74.0,23.5

In [ ]:
## export if you wanna poke around
finaldf.to_csv('node_composite_score.csv')